---
import Layout from "~/layouts/Layout.astro";
import { getRuntime } from "@astrojs/cloudflare/runtime";
import { handleAuth } from "~/lib/utils";
import { getLinks } from "~/lib/kv";

const { SHORTENER_LINKS } = getRuntime(Astro.request).env as CloudflareEnv;

const account = await handleAuth(Astro.request, Astro.cookies, Astro.redirect);
if (!account.success) return account.data;

const { name, id, avatar_url } = account.data;

const links = await getLinks(SHORTENER_LINKS);
---

<Layout>
  <main class="flex flex-col gap-y-6 text-center">
    <h1 class="text-6xl font-extrabold text-white">Links</h1>
    <div class="flex flex-col items-center justify-center gap-6 md:flex-row">
      <table class="min-w-full text-sm text-gray-400">
        <thead class="bg-gray-800 text-xs font-medium uppercase">
          <tr>
            <th scope="col" class="px-6 py-3 text-left tracking-wider">
              Code</th
            >
            <th scope="col" class="px-6 py-3 text-left tracking-wider">
              Target</th
            >
            <th scope="col" class="px-6 py-3 text-left tracking-wider">
              Visits</th
            >
          </tr>
        </thead>
        <tbody class="bg-gray-800">
          {
            links?.map((link) => (
              <tr class="bg-black bg-opacity-20">
                <td class="whitespace-nowrap px-6 py-4">{link.code}</td>
                <td class="whitespace-nowrap px-6 py-4">{link.target}</td>
                <td class="whitespace-nowrap px-6 py-4">{link.visits}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </main>
</Layout>
